body {
    background-color: #DEBACE;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 50px;
    color: #7F669D;
}

h3 {
    font-size: 40px;
    font-family: 'Courgette', cursive;
    color: #7F669D;
}

.container {
    display: flex;
}

.item {
    height: 90vh;
    background-size: cover;
    background-position: center;
    font-family: 'Courgette', cursive;
    flex: 1;
    margin: 5px;
    position: relative;
}

h4 {
    position: absolute;
    top: 15px;
    left: 40px;
    color: #7F669D;
    background-color: #ffffff;
    opacity: 0;
}

.desc {
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: #ffffff;
    opacity: 0;
    color: #7F669D;
}

.price {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: #ffffff;
    opacity: 0;
    color: #7F669D;
}

.selected {
    flex: 4;
}

.selected h4 {
    font-size: 40px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .desc {
    font-size: 20px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .price {
    font-size: 35px;
    transition: all 1s ease-in;
    opacity: 1;
}

label {
    font-family: 'Courgette', cursive;
    font-size: 30px; 
    color: #7F669D;
}

.text-input {
    background-color: #DEBACE;
    border: none;
    max-height: fit-content;
}

.btn {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    background-color: #829460; 
    flex: 1;
    color: #7F669D;
}

.one {
    background-image: url(lavender.jpeg);
}

.two {
    background-image: url(coquelicots.jpeg);
}

.three {
    background-image: url(beach.jpeg);
}

.four {
    background-image: url(city.jpeg);
}

.five {
    background-image: url(family.jpeg);
}

.six {
    background-image: url(wedding.jpeg);
}

@media all and (max-width: 500px) {
    
    .container {
        flex-direction: column;
        height: 100vh;
        }
      
      h1, h3 {
        font-size: 40px;
      }
      
      .selected h4 {
        font-size: 30px;
      }
      
      .selected .price {
        font-size: 25px;
      }
      
      label {
        font-size: 25px;
      }
    }
    